<footer>

    <section class="footer">
        <div class="container-fluid">

            <div class="row">

                <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-7">
                    <div class="row">

                        <div class="col-xs-6 col-sm-6 col-md-8 xs-alt">

                            <h6>Services</h6>
                            <ul class="list-unstyled">
                                <li>Dashboard &amp; Analytics</li>
                                <li>Intelligent API</li>
                                <li>Responsive/Hybrid applications</li>
                                <li>Content Management Systems</li>
                                <li>E-Commerce/Shopping Cart</li>
                                <li>Collaboration applications</li>
                                <li>Interactive event presentations</li>
                                <li>Blog/Forums integration</li>
                            </ul>

                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 xs-alt">

                            <h6>Learn more</h6>
                            <ul class="list-unstyled">
                                <li>Work</li>
                                <li>Blog</li>
                                <li>Meet the Team</li>
                                <li>Process</li>
                                <li>Technology</li>
                                <li>Testimonials</li>
                                <li>Get in touch</li>
                            </ul>

                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-5">

                    <p *ngIf="currentYear">&copy; {{ this.currentYear }} Incentive Apps Limited by DejiMeji</p>

                    <ul class="list-unstyled social-links">
                        <li><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter-square"></i></a>
                        </li>
                        <li><a href="#" target="_blank" title="google plus"><i class="fa fa-google-plus-square"></i></a>
                        </li>
                        <li><a href="#" target="_blank" title="linked in"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>

                    <p>101 Greyguild Street, Gattin Close, Pavilion Way, HA1 9RU.</p>

                </div>


            </div>

        </div>
    </section>

</footer>