<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Web and mobile applications.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="icon">
                    <img src="../../../assets/images/default/Working-with-us-1.svg" alt="" />
                </div>
                <h2 class="text-center small">UI/UX Design</h2>
                <p class="text-center intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et lobortis magna.
                    Phasellus posuere consequat nibh at pharetra. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Cras elementum nisl dui,.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="icon">
                    <img src="../../../assets/images/default/Working-with-us-2.svg" alt="" />
                </div>
                <h2 class="text-center small">Web Development</h2>
                <p class="text-center intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et lobortis magna.
                    Phasellus posuere consequat nibh at pharetra. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Cras elementum nisl dui,.</p>
            </div>
            <div class="col-12 col-md-4">
                <div class="icon">
                    <img src="../../../assets/images/default/Working-with-us-3.svg" alt="" />
                </div>
                <h2 class="text-center small">Mobile Native</h2>
                <p class="text-center intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et lobortis magna.
                    Phasellus posuere consequat nibh at pharetra. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Cras elementum nisl dui,.</p>
            </div>
        </div>
    </div>
</section>