@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import './../../../../assets/sass/includes/variables';

.checkboxlist {
  list-style: none;
  padding: 0px;
  margin: 0px;

  &__item {
        display: inline-block;
        padding: 10px 10px;
  }
}

.state label:after {
    background-color: $color-turquoise;
}