<footer>
    <div class="footer">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <nav>
                        <ul class="col-xs-12 col-sm-12 col-md-12 list-inline">
                            <li><a href="/" title="Responsibility" runat="server">Responsibility</a></li>
                            <li><a href="/" title="Customer Care" runat="server">Customer Care</a></li>
                            <li><a href="/" title="Terms &amp; Conditions" runat="server">Terms &amp; Conditions</a></li>
                            <li><a href="/" title="Private Policy" runat="server">Private Policy</a></li>
                            <li><a href="/" title="Cookie Policy" runat="server">Cookie Policy</a></li>
                            <li><a href="/" title="Sitemap" runat="server">Sitemap</a></li>
                            <li><a href="/" title="Contact us" runat="server">Contact us</a></li>
                            <li><a href="/" title="Careers" runat="server">Careers</a></li>
                        </ul>

                        <ul class="col-xs-12 col-sm-12 col-md-12 copy-links">
                            <li><a href="/" title="incentive.com 2017" runat="server">&copy; incentive.com 2017</a></li>
                            <li>Company Reg. No: 3931726</li>
                            <li>VAT Registration No: 733 6753 20</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>